body {
	font-family: "Athelas", "Helvetica Neue", Helvetica;
	font-size: 20px;
	line-height: 1.45;
}

#menu {
	float: right;
	margin-top: 30px;
	margin-right: 20px;
	text-align: right;
	width: 180px;
}

#menu .title {
	font-family: Avenir;
	font-size: 21px;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu li a {
	display: inline-block;
	color: #0864c7;
}

#left {
	height: 1px;
	float: left;
	display: block;
	min-width: 0;
	overflow: hidden;
	width: 200px;
	margin: 0;
	padding: 0;
}

#content {
	margin-top: 15px;
	float: left;
	width: 570px;
}

#content h1, #content h2, #content h3 {
	font-family: "Myriad Pro", "Helvetica Neue", Helvetica;
	margin: 0;
}

#content h2 {
	margin-top: 2em;
}

#content p, #content ul {
	color: #333;
}

#content sup.note {
	display: inline-block;
	margin-top: -5px;
}

#content li {
	margin-bottom: 0.7em;
}

#content .task-list {
	list-style-type: none;
}